{% extends "main/base.html" %}
{% load static %}

{% block title %}VH - Koszyk{% endblock %}

{% block nav-cart-1 %}active{% endblock %}
{% block nav-cart-2 %}aria-current="page"{% endblock %}
{% block nav-cart-3 %}active{% endblock %}

{% block header %}Koszyk użytkownika{% endblock %}

{% block body %}
    <div>
        <h4>Zawartość koszyka</h4>
    </div>
    <div>

        <div class="container">
            <div class="item">1</div>
            <div class="item"><img src="{% static 'main/media/6.jpg' %}"></div>
            <div class="item">Termometrocoś Q19I52022
                Urządzenia
                Schowaj do schowka
            </div>
            <div class="item">Cena Brutto <br>
                299,99 zł
            </div>
            <div class="item">Liczba<br>3
                <button type="button">+</button>
            </div>
            <div class="item">Wartość<br>899,97 zł</div>
            <div class="item">Usuń
                <button type="button">-</button>
            </div>

        </div>
        <br>
        <div>

            <div class="container">
                <div class="item">2</div>
                <div class="item"><img src="{% static 'main/media/8.jpg' %}"></div>
                <div class="item">Klimatyzacja TEDFFGGD351
                    Urządzenia
                    Schowaj do schowka
                </div>
                <div class="item">Cena Brutto <br>
                    679,99 zł
                </div>
                <div class="item">Liczba<br>1
                    <button type="button">+</button>
                </div>
                <div class="item">Wartość<br>679,99 zł</div>
                <div class="item">Usuń
                    <button type="button">-</button>
                </div>

            </div>
            <br>
            <div>

                <div class="container">
                    <div class="item">1</div>
                    <div class="item"><img src="{% static 'main/media/cart.jpg' %}"></div>
                    <div class="item">Łącznie:

                        Schowaj do schowka
                        Ustaw stałe zamówienie
                    </div>
                    <div class="item">Cena Brutto <br>
                        1 579,96 zł
                    </div>
                    <div class="item">Płatność:<br>
                        <button type="button">Kartą</button>
                    </div>
                    <div class="item">Data odbioru<br>21.12.2022</div>
                    <div class="item">Usuń
                        <button type="button">-</button>
                    </div>

                </div>
                <br>
            </div>
            <div class="photo-container">
                <img src="{% static 'main/media/rekama.jpg' %}">
            </div>

        </div>
    </div>
{% endblock %}
