{% extends "main/base.html" %}
{% load static %}

{% block title %}VH - Strona główna{% endblock %}

{% block nav-index-1 %}active{% endblock %}
{% block nav-index-2 %}aria-current="page"{% endblock %}
{% block nav-index-3 %}active{% endblock %}

{% block header %}Gorące promocje{% endblock %}

{% block body %}
    <div class="row">
        <div class="columnA">
            <h2>Termostat</h2>
            <img onclick="location.href='{% url 'main:products' %}'" src="{% static 'main/media/6.jpg' %}">
        </div>
        <div class="columnA">
            <h2>Grzejnik przenośny</h2>
            <img onclick="location.href='{% url 'main:products' %}'" src="{% static 'main/media/7.jpg' %}">
        </div>
        <div class="columnA">
            <h2>Klimatyzacja</h2>
            <img onclick="location.href='{% url 'main:products' %}'" src="{% static 'main/media/8.jpg' %}">
        </div>
    </div>
    <div class="photo-container">
        <img src="{% static 'main/media/rekama.jpg' %}">
    </div>
    <div class="row">
        <div class="columnA">
            <h2>Na sportowo</h2>
            <img onclick="location.href='{% url 'main:products' %}'" src="{% static 'main/media/1.jpg' %}">
        </div>
        <div class="columnA">
            <h2>Na słodko</h2>
            <img onclick="location.href='{% url 'main:products' %}'" src="{% static 'main/media/2.jpg' %}">
        </div>
        <div class="columnA">
            <h2>Do zabawy</h2>
            <img onclick="location.href='{% url 'main:products' %}'" src="{% static 'main/media/3.jpg' %}">
        </div>
    </div>
{% endblock %}
