{% extends "main/base.html" %}
{% load static %}

{% block title %}Produkty - {{ product.product_name }}{% endblock %}

{% block nav-products-1 %}active{% endblock %}
{% block nav-products-2 %}aria-current="page"{% endblock %}
{% block nav-products-3 %}active{% endblock %}

{% block header %}Przygotuj się na każdą porę roku!{% endblock %}

{% block body %}
    <div class="row">
        <div class="columnA">
            <h2>{{ product.product_name }}</h2>
            <img src="{{ product.img.url }}">
        </div>
        <div class="columnA">
            <h2>{{ product.promo }}</h2>
            {{ product.description }}
        </div>
        <div class="columnA">
            <h2>Informacje</h2>
            <p style="font-size: larger; text-align: center">
                Cena: <b>{{ price }} zł/szt.</b>
            </p>
            <p>
                Ilość towarów w magazynie: {{ product.stock }} <br>
                Ostatnia aktualizacja: <br> {{ product.last_updated }} <br>
            </p>
            <form style="border: none; background-color: transparent;" action="{% url 'main:cart' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="product_id" name="product_id" value="{{ product.id }}">
                <input type="submit" class="btn" value="Dodaj do koszyka">
            </form>
            <br><br>
        </div>
    </div>
{% endblock %}