{% extends "main/base.html" %}
{% load static %}

{% block title %}VH - Produkty{% endblock %}

{% block nav-products-1 %}active{% endblock %}
{% block nav-products-2 %}aria-current="page"{% endblock %}
{% block nav-products-3 %}active{% endblock %}

{% block header %}Przygotuj się na każdą porę roku!{% endblock %}

{% block body %}
    {% for row in rows %}
        <div class="row">
            {% for product in row %}
                <div class="columnA">
                    <h2>{{ product.promo }}</h2>
                    <img onclick="location.href='{% url 'main:product_by_id' product.id%}'"
                         src="{{ product.img.url }}">
                    <div class="columnB">
                        <h2>{{ product.product_name }}</h2>
                        <h3>tylko <br>
                            {{ product.price }}
                        </h3>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    {% endfor %}
{% endblock %}