{% extends "main/base.html" %}
{% load static %}

{% block title %}Rejestracja{% endblock %}

{% block nav-user-1 %}active{% endblock %}
{% block nav-user-2 %}aria-current="page"{% endblock %}
{% block nav-user-3 %}active{% endblock %}

{% block header %}Rejestracja{% endblock %}

{% block body %}
    <form action="{% url 'main:register' %}" method="post">
        {% csrf_token %}
        {{ form }}

        <input type="submit" value="Submit"><br><br>
        Masz już konto? <a href="{% url 'main:login' %}">Zaloguj się!</a>
    </form>
{% endblock %}
