<!DOCTYPE html>
<html lang="pl">

<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <title>Login Page</title>
</head>

<body>
<nav id="poz" class="navbar navbar-expand-sm navbar light bg-light">
    <a href="#" class="navbar-brand mb-0 h1">
        <img class="d-inline-block align-top" src="{% static 'main/media/logo.png' %}" width="30" height="30"/>
        Navbareeeeek
    </a>
    <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="{% url 'main:index' %}" class="nav-link active">
                    Strona Główna
                </a>
            </li>
            <li class="nav-item active">
                <a href="{% url 'main:user' %}" class="nav-link active">
                    Moje Konto
                </a>
            </li>
            <li class="nav-item active">
                <a href="{% url 'main:about' %}" class="nav-link active">
                    O Nas
                </a>
            </li>
            <li class="nav-item active">
                <a href="{% url 'main:products' %}" class="nav-link active">
                    Produkty
                </a>
            </li>
            <li class="nav-item active">
                <a href="{% url 'main:cart' %}" class="nav-link active">
                    Koszyk
                </a>
            </li>
            <li class="nav-item active">
                <a href="#" class="nav-link disabled">
                    ProjectAI
                </a>
            </li>
        </ul>


    </div>
</nav>
<div id="back">
    <div class="header">
        <h2 style="color:rgb(32, 30, 23);font-size:200%">
            <!--tu ogolnie byl tekst logowanie ale trzeba jakos inaczej obnizyc-->
        </h2>
    </div>


    <form action="{% url 'main:login_proceed' %}" method="post">
        {% csrf_token %}
        <label for="username">Pomyślnie zmieniono hasło!</label><br>


        <label for="password"><a href="{% url 'main:user' %}">Zaloguj ponownie!</a></label><br>


    </form>

</div>
<div id="footer">
    <p>Copyright 2022 <br>
        Vitali Morskyi & Hubert Stasiowski
    </p>
</div>
</body>

</html>