{% extends "main/base.html" %}
{% load static %}

{% block title %}VH - Logowanie{% endblock %}

{% block nav-user-1 %}active{% endblock %}
{% block nav-user-2 %}aria-current="page"{% endblock %}
{% block nav-user-3 %}active{% endblock %}

{% block header %}Logowanie{% endblock %}

{% block body %}
    <form action="{% url 'main:login_proceed' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"
               value="{% if predefined_username %}{{ predefined_username }}{% endif %}"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        {% if unsuccessful_login %}<p style="color: red"><strong>{{ unsuccessful_login }}</strong></p>{% endif %}
        <input type="submit" value="Submit"><br><br>
        <p>Nie masz konta? <a href="{% url 'main:register' %}">Załóż!</a></p>
    </form>
{% endblock %}
