{% extends "main/base.html" %}
{% load static %}

{% block title %}Cześć, {{ user.first_name }}!{% endblock %}

{% block nav-user-1 %}active{% endblock %}
{% block nav-user-2 %}aria-current="page"{% endblock %}
{% block nav-user-3 %}active{% endblock %}

{% block header %}Cześć, {{ user.first_name }}!{% endblock %}

{% block body %}
    <div class="columnC">
        <h2>Informacja o użytkowniku</h2>
        <p>
            Imię: <span id="first-name">{% if user.first_name %}{{ user.first_name }}{% endif %}</span><br>
            Nazwisko: <span id="last-name">{% if user.last_name %}{{ user.last_name }}{% endif %}</span><br>
            Email: <span id="email">{% if user.email %}{{ user.email }}{% endif %}</span>
        </p>

        <h2>Zmień hasło</h2>

        <form action="{% url 'main:change_password' %}" method="post">
            {% csrf_token %}
            <label for="current-password">Obecne hasło:</label><br>
            <input type="password" id="current-password" name="current-password"
                   value="{% if predefined_current_password %}{{ predefined_current_password }}{% endif %}"><br>
            <label for="new-password">Nowe hasło:</label><br>
            <input type="password" id="new-password" name="new-password"
                   value="{% if predefined_new_password %}{{ predefined_new_password }}{% endif %}"><br>
            <label for="confirm-new-password">Potwierdzenie nowego hasła:</label><br>
            <input type="password" id="confirm-new-password" name="confirm-new-password"
                   value="{% if predefined_confirm_new_password %}{{ predefined_confirm_new_password }}{% endif %}"><br><br>

            {% if unsuccessful_description %}
                {% for description in unsuccessful_description %}
                    <lablel style="color: red"><strong>{{ description }}</strong></lablel><br><br>
                {% endfor %}
            {% endif %}
            <input type="submit" value="Zatwierdź">
        </form>
        <form action="{% url 'main:logout' %}"><input type="submit" value="Wyloguj się"></form>
    </div>
{% endblock %}
